/* #pink{
    background-color: hotpink;
}

#blu{
    background-color: dodgerblue;
}


#yelo{
    background-color: gold;
    color:cornflowerblue
}

.foot{
    background-color: darkseagreen;
} */
#body_main{
    background-color: blanchedalmond;
}

.maintext{
    color: rgb(180, 112, 10);
}