body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dimgray;
    background-image: url(grandcanyonpurpleblr.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.trip {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: aliceblue;
}
.trip h2 {
    margin-top: 0;
}
.trip img {
    max-width: 100%;
    border-radius: 5px;
}
.button1 {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}