*{
    font-family: sans-serif
}
a{
    text-decoration: none;
}
.header {
    padding-top: 10px;
    background-color: dodgerblue;
    position: relative;
    padding-bottom: 10px;
    height: 50px;
    border-radius: 50px;
}
.logo {
    padding-left: 20px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    position: relative;
}
.logotext{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: dodgerblue;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    width: 50px;
    height: 40px;
    border: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
}
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.login{
    color: white;
}
.signup{
    color: white;
}
.headerbg{
    position: relative;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 80px;
    left: 20px;
}
.filters{
    position: absolute  ;
    top: 175px;
    left: 20px;
    box-shadow: 0px 8px 16px 0px rgb(209, 209, 209);
    border-radius: 20px;
    height: 500px;
    padding-left: 5px;
    padding-right: 10px;
}
.store1{
    position: absolute;
    top: 175px;
    left: 300px;
    box-shadow: 0px 8px 16px 0px rgb(209, 209, 209);
    width: 1000px;
    height: 300px;
    border: 5px;
    border-radius: 20px;
}
.store2{
    position: absolute;
    top: 525px;
    left: 300px;
    box-shadow: 0px 8px 16px 0px rgb(209, 209, 209);
    width: 1000px;
    height: 300px;
    border: 5px;
    border-radius: 20px;
}
.bchill{
    padding-left: 150px;
    font-size: xx-large;
}
.image1{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.bake{
    padding-left: 150px;
    font-size: xx-large;
}
.image2{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.storetxt{
    position: absolute;
    padding-left: 150px;
    top: 55px;
}
.storedesc{
    position: absolute;
    padding-left: 150px;
    top: 85px;
}
.pagefind{
    position: absolute;
    bottom: 5px;
    left: 960px;
    text-decoration: none;
}
button{
    background: none;
    border-color: lightblue;
    border-radius: 10px;
    font-size: xx-large;
    color: slategrey;
}
.foods{
    position: absolute;
    left: 50px;
    top: 190px;
    font-size: larger;
}
.cost{
    position: absolute;
    left: 50px;
    top: 230px;
    font-size: larger;
}